# Don't ignore .git - needed by setuptools_scm for versioning
.gitignore
.eggs
*.egg-info
__pycache__
*.pyc
*.pyo
.pytest_cache
.coverage
htmlcov
dist
build
*.egg
log
coverage.xml
.circleci
example_sparse_checkout.yml
test_*.yml
